@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 *{
    color:#303A3B;
 }

 a:hover{
    text-decoration: underline;
 }
}
 
@layer components {
    
    /* --------- fonts --------- */
    .body-sm{
        font-size: 12px;
        line-height: 16px;
    }

    .body{
        font-size: 14px;
        line-height: 20px;
    }

    .body-lg{
        font-size: 16px;
        line-height: 24px;
    }

    .title-sm{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    .title-lg{
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
    }

    .head-sm{
        font-size: 22px;
        line-height: 32px;
    }

    .head{
        font-size: 28px;
        line-height: 36px;
    }

    .head-lg{
        font-size: 32px;
        line-height: 40px;
    }

    .label-sm{
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
    }

    .label{
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
    }

    .label-lg{
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
    }

    .display-sm{
        font-size: 36px;
        line-height: 44px;
    }

    .display{
        font-size: 45px;
        line-height: 52px;
    }

    .display-lg{
        font-size: 57px;
        line-height: 64px;
    }
}
 
