@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --background: #ffffff;
        --foreground: 	#030712;

        --card: #ffffff;
        --card-foreground: #030712;

        --popover: #ffffff;
        --popover-foreground: #030712;

        --primary: #6947bd;
        --primary-foreground: #ffffff;

        --secondary: #ae1bde;
        --secondary-foreground: #ffffff;

        --gradient: linear-gradient(19deg, var(--primary) 0%, var(--secondary) 100%);

        --muted: #f3f4f6;
        --muted-foreground: #6b7280;

        --accent: #f3f4f6;
        --accent-foreground:#6b7280;

        --destructive: 	#ef4444;
        --destructive-foreground: #f9fafb;

        --border: #e5e7eb;
        --input: #e5e7eb;

        --ring: #7c3aed;
        --radius: 0.5rem;
    }
      
    a{
        display:flex;
        gap: 8px;
        align-items: center;
    }
}
 
@layer components {

    .container{
        padding: 48px;
    }

    .container-full{
        padding: 0 0 0 56px;
    }
    
    /* --------- fonts --------- */
    .body-sm{
        font-size: 12px;
        line-height: 16px;
    }

    .body{
        font-size: 14px;
        line-height: 20px;
    }

    .body-lg{
        font-size: 16px;
        line-height: 24px;
    }

    .body-xl{
        font-size: 18px;
        line-height: 24px;
    }

    .body-xxl{
        font-size: 20px;
        line-height: 32px;
    }

    .title-sm{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    .title-lg{
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
    }

    .head-sm{
        font-size: 22px;
        line-height: 32px;
    }

    .head{
        font-size: 28px;
        line-height: 36px;
    }

    .head-lg{
        font-size: 32px;
        line-height: 40px;
    }

    .label-sm{
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
    }

    .label{
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
    }

    .label-lg{
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
    }

    .display-sm{
        font-size: 36px;
        line-height: 44px;
    }

    .display{
        font-size: 45px;
        line-height: 52px;
    }

    .display-lg{
        font-size: 57px;
        line-height: 64px;
    }

    /* Button */
    button .material-symbols-rounded,
    button img
    {
        margin-right: 8px;
    }

    /* Table */
    table .action-buttons *{
        opacity: 0.50;
    }

    table tr:hover .action-buttons *{
        opacity: 1;
    }

}

/* scheduler */

    .scheduler .rbc-time-view,
    .scheduler .rbc-time-header,
    .scheduler .rbc-header,
    .scheduler .rbc-time-header-content,
    .scheduler .rbc-header + .rbc-header{
        border: none;
    }

    .scheduler .rbc-header {
        height: fit-content;
    }

    .scheduler .rbc-today {
        background: none;
    }
